@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body{
  overflow-y: scroll;
  background: linear-gradient(120deg,#2980b9, #8e44ad);

}

.all{
  height: 120vh;
}
.bkg{   

    width: 100%;
    background-size: cover;
    background-position: center center;

    font-family: 'Josefin Sans', sans-serif;
  }

  .about-title{
    margin-bottom: 10px;
    position: absolute;
    top: 20%;
    left: 15%;
  }

  .about-body{
    margin-bottom: 10px;
    position: absolute;
    top: 29%;
    left: 15%;
    width: 65%;
  }

  .mission-title{
    margin-bottom: 10px;
    position: absolute;
    top: 45%;
    left: 15%;
  }

  .mission-body{
    margin-bottom: 10px;
    position: absolute;
    top: 54%;
    left: 15%;
    width: 65%;
  }

  .team{
    
    position: absolute;
    top: 52%;
    left: 15%;
    right: 15%;
    
    margin: 10% 0%;
  }

  

  .nav-ele{
    float: right;
    list-style: none;
    margin-top: -6px;
}

.nav-ele li{
    display: inline-block;
}

.nav-ele li a{
    color:#fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 22px;
    transition: 0.4s ease-in-out;
}

.nav-ele li a:hover{
    background: rgb(255, 255, 255);
    color: #333;
}