body {
  margin: 0;
  padding: 0;
  color: #271e1e;
  font-family: 'Josefin Sans', sans-serif;
}

header {
  padding: 20px;
}

.main_nav-area {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-top: 10px;
  margin-right: 42%;
  margin-bottom: 20px;
}

.main_nav-area li {
  margin-left: 20px;
}

.main_nav-area li a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  transition: 0.4s ease-in-out;
}

.hero {
  position: relative; 
  height: 60vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Hide any overflowing background image */
  background-image: url('../images/searchBG.jpg');
  background-size: cover;
  background-position: center;
}

.hero-section {
  padding: 0px 0px;
  text-align: center;
  background-color: #eeefe9;
}

.hero-content {
  max-width: 850px;
  margin: 0 auto;
  background: linear-gradient(rgba(0, 0, 0, 0.05),rgb(184, 180, 180)); 
}

.hero-content h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero-content p {
  padding: 10px 10px;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 40px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 25px;
  background-color: #0e0101;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #3f2565;
}

.featured-resources,
.more-resources {
  padding: 50px;
  text-align: center;
}

.featured-resources h2,
.more-resources h2 {
  font-size: 30px;
  margin-bottom: 30px;
  color: #f5eeee;
}

.resource-container {
  display: flex;
  justify-content: space-between;
  
}

.resource-item {
  flex-basis: 30%;
  padding: 20px;
  background-color: #dad6df;
  border-radius: 5px;
}

.resource-item img{
  width: 400px;
  height: 260px;
}

.resource-item h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #0b0000;
}

.resource-item p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #090101;
}

.resource-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #110101;
  color: #f8f4f4;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.resource-link:hover {
  background-color: #3f2565;
}

footer {
  padding: 10px;
  background-color: #3f2565;
  text-align: center;
  color: #fff;
}

